<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include '_header.html' %}
    <div class="auth-card">
        <h2>Sign Up</h2>
        <form method="post">
            <input type="email" name="email" placeholder="Email" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <button class="details-btn" type="submit">Sign Up</button>
        </form>
        <a class="details-btn" href="/login">Login</a>
        {% if error %}<p style="color:red">{{ error }}</p>{% endif %}
    </div>
    {% include '_banner_slider.html' %}
    {% set year = 2025 %}
    {% include '_footer.html' %}
</body>
</html>
